In [165]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse = pd.read_csv('data/mouse_drug_data.csv')
trial = pd.read_csv('data/clinicaltrial_data.csv')

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse.head()
trial.head()

# Combine the data into a single dataset
df = pd.merge(trial, mouse)

# Display the data table for preview
df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

In [150]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
df2 = df.drop(columns=['Mouse ID', 'Metastatic Sites'])

# Convert to DataFrame
df3 = df2.groupby(['Drug', 'Timepoint']).mean()

# Preview DataFrame
df3.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [152]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

# Convert to DataFrame
standard = df2.groupby(['Drug', 'Timepoint']).sem()
# Preview DataFrame
standard.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [153]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [154]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [155]:
# Show the Figure

In [157]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
met = df.drop(columns=['Mouse ID', 'Tumor Volume (mm3)'])
# Convert to DataFrame
met1 = met.groupby(['Drug', 'Timepoint']).mean()
# Preview DataFrame
met1.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [159]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
sem_met = df.drop(columns=['Mouse ID', 'Tumor Volume (mm3)'])
# Convert to DataFrame
sem_met1 = sem_met.groupby(['Drug', 'Timepoint']).mean()
# Preview DataFrame
sem_met1.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [160]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [161]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

In [164]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
mouse = df.drop(columns=['Metastatic Sites', 'Tumor Volume (mm3)'])
# Convert to DataFrame
mouse1 = mouse.groupby(['Drug', 'Timepoint']).count()
# Preview DataFrame
mouse1.head()

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame