In [125]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse = pd.read_csv('data/mouse_drug_data.csv')
trial = pd.read_csv('data/clinicaltrial_data.csv')

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse.head()
trial.head()

# Combine the data into a single dataset
df = pd.merge(trial, mouse)

# Display the data table for preview
df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0        b128          0           45.000000                 0  Capomulin
1        b128          5           45.651331                 0  Capomulin
2        b128         10           43.270852                 0  Capomulin
3        b128         15           43.784893                 0  Capomulin
4        b128         20           42.731552                 0  Capomulin
5        b128         25           43.262145                 1  Capomulin
6        b128         30           40.605335                 1  Capomulin
7        b128         35           37.967644                 1  Capomulin
8        b128         40           38.379726                 2  Capomulin
9        b128         45           38.982878                 2  Capomulin
10       f932          0           45.000000                 0   Ketapril
11       g107          0           45.000000                 0   Ketapril
12       g107          5           48.791665                 0   Ketapril
13       g107         10           53.435987                 0   Ketapril
14       g107         15           58.135545                 0   Ketapril
15       g107         20           62.706031                 0   Ketapril
16       g107         25           64.663626                 0   Ketapril
17       g107         30           69.160520                 0   Ketapril
18       g107         35           71.905117                 0   Ketapril
19       a457          0           45.000000                 0   Ketapril
20       a457          5           47.462891                 0   Ketapril
21       a457         10           49.783419                 0   Ketapril
22       c819          0           45.000000                 0   Ketapril
23       c819          5           45.769249                 1   Ketapril
24       c819         10           46.658395                 1   Ketapril
25       c819         15           48.370999                 1   Ketapril
26       c819         20           49.762415                 1   Ketapril
27       c819         25           51.828357                 1   Ketapril
28       c819         30           56.098998                 1   Ketapril
29       c819         35           57.729535                 1   Ketapril
...       ...        ...                 ...               ...        ...
1876     i557         25           44.596219                 0  Capomulin
1877     i557         30           45.261384                 0  Capomulin
1878     i557         35           45.941949                 0  Capomulin
1879     i557         40           46.821070                 1  Capomulin
1880     i557         45           47.685963                 1  Capomulin
1881     m957          0           45.000000                 0  Capomulin
1882     m957          5           45.622381                 1  Capomulin
1883     m957         10           46.414518                 1  Capomulin
1884     m957         15           39.804453                 1  Capomulin
1885     m957         20           38.909349                 1  Capomulin
1886     m957         25           37.695432                 1  Capomulin
1887     m957         30           38.212479                 1  Capomulin
1888     m957         35           32.562839                 1  Capomulin
1889     m957         40           32.947615                 1  Capomulin
1890     m957         45           33.329098                 1  Capomulin
1891     f966          0           45.000000                 0  Capomulin
1892     f966          5           38.796474                 0  Capomulin
1893     f966         10           35.624403                 0  Capomulin
1894     f966         15           32.623003                 0  Capomulin
1895     f966         20           30.485985                 0  Capomulin
1896     m601          0           45.000000                 0  Capomulin
1897     m601          5           41.408591                 1  Capomulin
1898     m601         10           36.825367                 1  Capomulin
1899     m601         15           35.464612                 1  Capomulin
1900     m601         20           34.255732                 1  Capomulin
1901     m601         25           33.118756                 1  Capomulin
1902     m601         30           31.758275                 1  Capomulin
1903     m601         35           30.834357                 1  Capomulin
1904     m601         40           31.378045                 1  Capomulin
1905     m601         45           28.430964                 1  Capomulin

[1906 rows x 5 columns]

In [150]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
df2 = df.drop(columns=['Mouse ID', 'Metastatic Sites'])
# Convert to DataFrame
df3 = df2.groupby(['Drug', 'Timepoint']).mean()
# Preview DataFrame
df3.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [152]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

# Convert to DataFrame
standard = df2.groupby(['Drug', 'Timepoint']).sem()
# Preview DataFrame
standard.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [153]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [154]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [155]:
# Show the Figure

In [157]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
met = df.drop(columns=['Mouse ID', 'Tumor Volume (mm3)'])
# Convert to DataFrame
met1 = met.groupby(['Drug', 'Timepoint']).mean()
# Preview DataFrame
met1.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [159]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
sem_met = df.drop(columns=['Mouse ID', 'Tumor Volume (mm3)'])
# Convert to DataFrame
sem_met1 = sem_met.groupby(['Drug', 'Timepoint']).mean()
# Preview DataFrame
sem_met1.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [160]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [161]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

In [164]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
mouse = df.drop(columns=['Metastatic Sites', 'Tumor Volume (mm3)'])
# Convert to DataFrame
mouse1 = mouse.groupby(['Drug', 'Timepoint']).count()
# Preview DataFrame
mouse1.head()

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame